#ulist1 > li:nth-child(odd){
  background-color: gray;   
}

#olist1 > li:nth-child(4){
  background-color: red; 
}

#olist1 > li:nth-child(3):hover {   
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
 text-decoration-color: initial;
}

#olist1 > li:nth-child(5):hover {   
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness:     initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.ststyle{
    text-align: center;
    font-size: 22px;
}

.returonmain{
  font-style: italic;
}

#mylist{
  text-align: center;
}

#mydessert{
  text-align: center;
}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 50.00%;
  }
}
@media (max-width: 992px) {
  .col-sm-12 {
    width: 100%;
  }
}

.item {
  float: left;
  position: relative;
}

.item-wrap {
  position: relative;
  margin: 10px;
}
